<%= form_for :user, html: { class: "form-horizontal sign-in-form" }, url: { action: "create" } do |f| %>
  <div class="control-group">
    <%= f.label :username, class: "control-label", width: 50 %>
    <div class="controls">
      <%= f.text_field :username, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, class: "control-label", width: 50 %>

    <div class="controls">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-success">Sign in</button>
      <%= link_to "Sign up", new_user_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
<a href="http://www.instantssl.com/ssl-certificate-products/free-ssl-certificate.html">
<img src="http://www.instantssl.com/ssl-certificate-images/support/comodo_secure_100x85_transp.png" alt="Free SSL Certificate" width="100" height="85" style="border: 0px;"><br> <span style="font-weight:bold; font-size:7pt">Free SSL </span></a><br>
