<%= form_for :user, html: { class: "form-horizontal sign-in-form" }, url: { action: "create" } do |f| %>
  <div class="control-group">
    <%= f.label :username, class: "control-label", width: 50 %>
    <div class="controls">
      <%= f.text_field :username, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, class: "control-label", width: 50 %>

    <div class="controls">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-success">Sign in</button>
      <%= link_to "Sign up", new_user_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
