<h2><%= @task.name %></h2>
<p><%= raw @task.body %></p>

<ul>
  <% @submissions.each do |submission| %>
    <li> <%= "Pending..." if submission.evaluations.empty? %>
      <% submission.evaluations.each do |evaluation| %>
        <ul>
          <li><%= evaluation.passed? ? "√" : "✘" %></li>

          <% evaluation.body.each_with_index do |test, i| %>
            <li>
              <ul>
                <li>#<%= i %>: <%= test[:passed] ? "√" : "✘" %></li>
                <li>Program: "<%= test[:actual].gsub("\n", "<br/>") %>"</li>
                <li>Expected: "<%= test[:expected] %>"</li>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>

<%= form_for @submission, url: task_submissions_path(@task.id), method: :post do |f| %>
  <%= f.hidden_field :task_id, value: @task.id %>

  <%= f.label :source %>
  <%= f.text_field :source %>

  <%= f.button "Submit" %>
<% end %>
