<% if @submission && @submission.errors.full_messages.size > 0 %>
  <div class="row-fluid">
    <div class="span12">
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
          <% @submission.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<h2><%= @task.name %></h2>
<p><%= render_markdown(@task.body) %></p>

<%= form_for @submission, url: task_submissions_path(@task.id), method: :post do |f| %>
  <%= f.hidden_field :task_id, value: @task.id %>
  <div class="control-group">
    <div class="controls">
      <%= f.file_field :source %>

      <div class="input-append">
        <input class="browser input-large uneditable-input" id="pretty_file" type="text"/>
        <a class="browser btn">Browse</a>
        <%= f.button "Evaluate", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<% unless @submissions.empty? %>
  <table class="table table-hover results">
    <thead>
      <tr>
        <th>#</th>
        <th>Submission time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @submissions.each do |submission| %>
        <tr class="<%= submission_class(submission) %> accordion-toggle" data-toggle="collapse" data-target="#evaluations-<%= submission.id %>">
          <td><%= submission.id %></td>
          <td><%= submission.created_at.to_formatted_s(:short) %></td>
          <td><%= submission_status submission %></td>
        </tr>
        <tr>
          <td colspan="6" style="padding: 0 !important">
            <div class="accordian-body collapse" id="evaluations-<%= submission.id %>"> 
              <table class="table table-condensed evaluation">
                <thead>
                  <th>#</th>
                  <th>Status</th>
                  <th>Duration</th>
                  <th>Input</th>
                  <th>Output</th>
                  <th>Expected</th>
                </thead>
                <tbody>
                  <% unless pending?(submission) %>
                    <% submission.evaluations.last.body.each_with_index do |test, no| %>
                      <tr class="<%= submission_class(submission) %>">
                        <td><%= no + 1 %></td>
                        <td><%= test[:status].humanize %></td>
                        <td><%= test[:duration] && "#{test[:duration].round(3)}s" %></td>
                        <td><pre><%= ::TestCase.find(test[:id]).input.truncate(200) %></pre></td>
                        <td><pre><%= test[:output].try(:truncate, 200) %></pre></td>
                        <td><pre><%= ::TestCase.find(test[:id]).output.truncate(200) %></pre></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
