<% if @submission && @submission.errors.full_messages.size > 0 %>
  <div class="row-fluid">
    <div class="span12">
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
          <% @submission.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<h2><%= @task.name %></h2>
<p><%= render_markdown(@task.body) %></p>

<%= form_for @submission, url: task_submissions_path(@task.id), method: :post do |f| %>
  <%= f.hidden_field :task_id, value: @task.id %>
  <div class="control-group">
    <div class="controls">
      <%= f.file_field :source %>

      <div class="input-append">
        <input class="browser input-large uneditable-input" id="pretty_file" type="text"/>
        <a class="browser btn">Browse</a>
        <%= f.button "Evaluate", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<% unless @submissions.empty? %>
  <table class="table table-hover results">
    <thead>
      <tr>
        <th>#</th>
        <th>Submission time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @submissions.each do |submission| %>
        <% evaluation = submission.evaluations.last %>
        <tr class="<%= submission_class(submission) %> accordion-toggle" data-toggle="collapse" data-target="#evaluations-<%= submission.id %>">
          <td><%= submission.id %></td>
          <td><%= submission.created_at.to_formatted_s(:short) %></td>
          <% if pending?(submission) %>
          <td>Pending</td>
          <% else %>
          <td><%= evaluation.status %></td>
          <% end %>
        </tr>
        <% unless pending?(submission) %>
        <tr>
        <% if evaluation.status == "Build failed" %>
          <td colspan="6" style="padding: 0 !important">
          <pre>
          <%= evaluation.body %>
          </pre>
          </td>
        <% else %>
          <td colspan="6" style="padding: 0 !important">
            <div class="accordian-body collapse" id="evaluations-<%= submission.id %>">
              <table class="table table-condensed evaluation">
                <thead>
                  <th>#</th>
                  <th>Status</th>
                  <th>Duration</th>
                  <th>Input</th>
                  <th>Output</th>
                  <th>Expected</th>
                </thead>
                <tbody>
                <% evaluation.body.zip(submission.task.test_cases).each_with_index do |zippy, no| %>
                  <% eval, test_case = zippy[0], zippy[1] %>
                  <tr class="<%= submission_class(submission) %>">
                    <td><%= no + 1 %></td>
                    <td><%= eval[:status].humanize %></td>
                    <td><%= eval[:duration] && "#{eval[:duration].round(3)}s" %></td>
                    <td><pre><%= test_case.input.truncate(200) %></pre></td>
                    <td><pre><%= eval[:output].try(:truncate, 200) %></pre></td>
                    <td><pre><%= test_case.output.truncate(200) %></pre></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
