<h2><%= @task.name %></h2>
<p><%= raw @task.body %></p>

<%= form_for @submission, url: task_submissions_path(@task.id), method: :post do |f| %>
  <%= f.hidden_field :task_id, value: @task.id %>

  <div class="control-group">
    <div class="control">
      <%= f.label :source, "Submission", class: "control-label" %>
      <div class="controls">
        <%= f.text_area :source, rows: 10, class: "textarea-code" %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.button "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Time</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each do |submission| %>
      <tr class="<%= submission_class(submission) %>"> 
        <td><%= submission.id %></td>
        <td><%= submission.created_at.to_s %></td>
        <td><%= submission_status submission %></td>
      </tr>
    <% end %>
  </tbody>
</table>
