<table class="table table-hover results" id="leaderboard">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Username</th>
      <% @tasks.each do |task| %>
        <th><%= link_to task.name, task_path(task) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% @users.each_with_index do |user, rank| %>
        <tr>
          <td>#<%= rank + 1 %></td>
          <td><%= user.username.humanize %></td>
          <% @tasks.each do |task| %>
            <td>
              <%= task_status_badge(task, user, true) %>

              <% if task.groups.count > 1 %>
                <%= task_points_badge(task, user) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
