<% if @user && @user.errors.full_messages.size > 0 %>
  <div class="row-fluid">
    <div class="span12">
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
          <% @user.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<%= form_for @user, html: { class: "form-horizontal sign-in-form" } do |f| %>
  <div class="control-group">
    <%= f.label :username, class: "control-label", width: 50 %>
    <div class="controls">
      <%= f.text_field :username, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, class: "control-label", width: 50 %>

    <div class="controls">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, class: "control-label", width: 50 %>

    <div class="controls">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-success">Sign up</button>
    </div>
  </div>
<% end %>
