<h1>Instructions</h1>

<p>
  Input and output for Contestrus is done with standard input and output. Examples can be seen below.
</p>

<script src="https://gist.github.com/Sirupsen/7111270.js"></script>

<h2>Language support</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Language</th>
      <th>Version</th>
      <th>Extension</th>
      <th>Build</th>
      <th>Run</th>
    </tr>
  </thead>
  <tbody>
    <% @languages.each do |language| %>
      <tr class="language">
        <td><%= language.name %></td>
        <td><%= language.version %></td>
        <td><%= language.extension %></td>
        <td><pre><%= language.build %></pre></td>
        <td><pre><%= language.run %></pre></td>
      </tr>
    <% end %>
  </tbody>
</table>
